.head {
    background: #fc0;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .face {
    font-family: 'courier new', serif;
    font-size: 2.5em;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: rotate(90deg);
  }

  .page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }